$transitionSpeed: 0.25s;
$background-page: #111215;
$background-navigation: #08090A;
$background-section: #1A1C20;
$bordercolor-divider: #43454B;
$background-grey: #272A2F;
$color-severity-red: rgb(255, 30, 89);
$color-severity-green: rgb(30, 255, 68);
$fontcolor-active: rgba(255,255,255,1.0);
$fontcolor-default: rgba(255,255,255,0.7);
$fontcolor-muted: rgba(255,255,255,0.5);
$fontcolor-disabled: rgba(255,255,255,0.3);
$chartcolor-muted: rgba(255,255,255,0.15);
$primaryFont: ProtoFontRegular;
$primarycolor-action: #0086FF;